fastapi[standard]==0.109.0
uvicorn[standard]==0.27.0
pandas
numpy
statsmodels
requests
matplotlib
scikit-learn
tqdm
xgboost
aix360
lime

psycopg2-binary==2.9.10
passlib==1.7.4
python-jose==3.3.0

--index-url https://download.pytorch.org/whl/cpu
torch
