langchain
fastapi
langchain-chroma
langchain-community
langchain-google-genai
python-dotenv
sentence_transformers
rdflib
nltk
rapidfuzz
watchdog

psycopg2-binary==2.9.10
passlib==1.7.4
python-jose==3.3.0